body
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: #fafafa;
  color: #004d40;
  header
    height: 48px;
    display: flex;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 32px;
    h1
      font-size: 32px;
      margin-left: 128px;
      margin-right: auto;
    .link
      margin-left: auto;
      ul
        display: flex;
        margin-right: 128px;
        li
          width: 120px;
          margin-right: 32px;
          a
            text-decoration: none;
            color: #004d40;
            font-size: 18px
  main
    .about
      .topic
        font-size: 40px;
        line-height: 4;
        font-weight: bold;
        text-align: center;
      .container
        display: flex;
        .pic
          width: 40%;
          margin-left: auto;
          margin-right: 64px;
        .text
          width: 40%;
          margin-right: auto;
          font-size: 20px;
    .course
      .topic
        font-size: 40px;
        line-height: 4;
        font-weight: bold;
        text-align: center;
      .container
        display: flex;
        .pic
          width: 25%;
          margin-right: 48px;
          font-size: 20px;
        .pic:first-child
          margin-left: auto
        .pic:last-child
          margin-right: auto
    .topic
      font-size: 40px;
      line-height: 4;
      font-weight: bold;
      text-align: center;
    .post
      margin-bottom: 128px;
      .container
        width: 80%;
        margin: 0 auto;
        text-align: center;
        p
          font-size: 20px;
      .mail
        width: 600px;
        margin: 8px auto 32px;
        border-radius: 40px;
        border: 1.5px solid #bdbdbd;
        input
          background: none;
          text-align: left;
          display: block;
          width: 100%;
          border: none;
          font-size: 18px;
          line-height: 3;
      .btn
        width: 400px;
        margin: 0 auto;
        background: #e57373;
        border-radius: 4px;
        input
          color: #fafafa;
          background: #e57373;
          line-height: 3;
          font-size: 24px;
          font-weight: bold;
          border: none;
  footer
    border-top: 1px solid #bdbdbd;
    padding-top: 16px;
    margin-bottom: 64px;
    text-align: right;